In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import warnings
from scipy import stats
warnings.simplefilter(action='ignore')

In [111]:
clean_data = pd.read_csv('data/clean_data_0.csv')
clean_data['ratio_curr_cap_share'] = clean_data['curr_rep_cap_share_one']/clean_data['curr_del_cap_share_one']

clean_data['larger_diff_term'] = ((clean_data['Credit_TermApr']-clean_data['MA_Proposed_Term'])>=0).astype(int) # либо > 0

clean_data['ratio_inst_amount'] = clean_data['MA_Installment_Amount']/clean_data['Credit_TermApr']

clean_data['freq_nnkd'] = clean_data['nnkd'].map(clean_data['nnkd'].value_counts())

clean_data.drop(['curr_del_cap_share_one', 'curr_rep_cap_share_one', 'MA_Proposed_Term', 'MA_Installment_Amount', 'MA_Exp_Month_Paym',
                 'DaysInCollection_one'], axis=1, inplace=True)

In [12]:
num_feats = ['mob', 'MOB_term', 'Credit_TermApr', 'maxdelay_one', 'MA_AGE', 'MA_MONTH_AT_CURR_ADDRESS', 'MA_MONTH_AT_CURR_PASSP', 'MA_MONTH_AT_CURR_JOB',
            'MA_Time_Previous_Job', 'MA_Proposed_Amount', 'TOT_INCOME', 'PARTWH_INCOME', 'PAYMD2TOTPAYM', 'PTI', 'ratio_curr_cap_share', 'larger_diff_term', 'ratio_inst_amount', 'freq_nnkd']

cat_feats = ['delays_one', 'MA_Gender', 'MA_Education', 'MA_Marital_Status', 'MANUMBEROFCHILD', 'MA_Residential_Status', 'MA_Real_Estate_Owner', 'MA_REG_Same_Fact_Addr', 'MA_Exp_IND']

In [115]:
clean_data.iloc[10:15].T

,10,11,12,13,14
nnkd,1-RUR-4520-3385902,1-RUR-0000-3810430,1-RUR-0000-3810430,1-RUR-6560-3497297,1-RUR-4510-3192311
mob,11,7,5,9,5
MOB_term,0.180328,0.114754,0.0819672,0.75,0.0819672
Credit_TermApr,61,61,61,12,61
bad,1,1,0,1,1
maxdelay_one,41,38,38,16,23
delays_one,4,1,1,0,0
MA_AGE,23,24,24,30,24
MA_Gender,1,0,0,1,0
MA_Education,2,0,0,0,2
MA_Marital_Status,2,2,2,2,2
MANUMBEROFCHILD,0,0,0,0,0
MA_Residential_Status,1,1,1,3,1
MA_MONTH_AT_CURR_ADDRESS,114,99,99,164,103
MA_Real_Estate_Owner,1,1,1,1,1
MA_REG_Same_Fact_Addr,1,1,1,1,1
MA_MONTH_AT_CURR_PASSP,3,39,39,64,52
MA_Exp_IND,0,0,0,0,0
MA_MONTH_AT_CURR_JOB,13,26,26,11,18
MA_Time_Previous_Job,12,2,2,36,46
MA_Proposed_Amount,248000,100000,100000,100000,240000
TOT_INCOME,25000,12500,12500,45000,21024
PARTWH_INCOME,1,1,1,0,1
PAYMD2TOTPAYM,0.32687,0.289607,0.283472,0.832741,0.439764
PTI,0.285378,0.230144,0.230144,0.210132,0.342578
ratio_curr_cap_share,0.106168,0.0474372,0.0374614,1.24365,0.0501455
larger_diff_term,1,1,1,1,1
ratio_inst_amount,116.958,47.1607,47.1607,787.997,118.071
freq_nnkd,14,7,7,3,5
age_range,1,1,1,2,1
EQ_PP,0,0,0,0,0
diff_white_pti,17865.5,9623.2,9623.2,-9455.96,13821.6
ratio_time_job,0.923077,0.0769231,0.0769231,3.27273,2.55556
ratio_amount_income,1.20968,1.5,1.5,5.4,1.0512

In [117]:
clean_data['EQ_PP'] = (clean_data['PAYMD2TOTPAYM'] < clean_data['PTI']).astype(int)
clean_data['diff_white_pti'] = clean_data['TOT_INCOME']*clean_data['PARTWH_INCOME'] - clean_data['TOT_INCOME']*clean_data['PTI']
clean_data['ratio_time_job'] = clean_data['MA_Time_Previous_Job']/clean_data['MA_MONTH_AT_CURR_JOB']
clean_data['ratio_amount_income'] = clean_data['TOT_INCOME']*12 /  clean_data['MA_Proposed_Amount']


#clean_data['income_by_ptp'] = clean_data['TOT_INCOME']*clean_data['PAYMD2TOTPAYM']
#clean_data['ratio_mob_ptp'] = clean_data['mob'] /  clean_data['PAYMD2TOTPAYM']
#clean_data['age_range'] = clean_data['MA_AGE'].apply(lambda x: get_age_label(x))

In [114]:
clean_data.to_csv('data/clean_data_feats.csv', index=False)